extends layout
block head
  link(rel='stylesheet', href='/css/test.css')
block content
  div.testPage 测试页面
  -if(loginView)
    div.loginBox
      -if(errorMsg)
        p.errorMsg=errorMsg
      form(action="/test",method="post",onsubmit="return true;")
        input(name="userName" type="text" maxlength="30")
        input(name="passWord" type="password" maxlength="32")
        input(name="submitBtn" type="button" value="登录" js_handle="js_submit")
  -else
    div.articleList
      h2 文章列表
      ul
        each item,index in articles
          li
            span=item.title
            a(href="javascript:void(0);" js_handle="js_remove" data-id="#{item.id}")删除

    div.articleEdit
      h2 文章编辑
      p 所属分类：
        select(name="cid")
          each item,index in cats
            option(value="#{item.id}") #{item.name}
      p 文章标题：
        input(name="title" maxlength="200")
      p 文章封面图：
        input(name="img" maxlength="200")
      p 文章内容：
        textarea(name="content")
      p
        input(value="提交" type="button" js_handle="js_add")
    div.catEdit
      h2 分类编辑
      ul
        each item,index in cats
          li(data-id="#{item.id}")
            span #{item.name}
            a(href="javascript:void(0);" data-hook="js_edit_cat") 编辑

  script(src='/js/test.js',type='text/javascript')

